/* RESET
 *****************************************************************************/
html,
body {
  margin: 0;
  overflow-x: hidden;
}

/* FRAMEWORK
 *****************************************************************************/
.container {
  /* Squeezes content into center of page regardless of screen size */
  margin: 0 auto;
  max-width: 1200px;
  /* Keep content away from edge of screen */
  padding: 1%;
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.row::after {
  /* Clearfix */
  content: "";
  display: table;
  clear: both;
}

/* GLOBALS
 *****************************************************************************/
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER
 *****************************************************************************/
header {
  background-color: #f3b328;
}

header > .row {
  align-items: center;
  justify-content: space-between;
}

header .left {
  color: white;
  font-size: 2em;
  margin-right: auto;
  text-align: left;
}

header .left p {
  font-style: italic;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

header .right {
  margin-left: auto;
  text-align: right;
}
header .right ul {
  list-style: none;
  padding: 0;
}
header .right li {
  display: inline-block;
  background: url("pawprint.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
  padding: 1.5em 0.5em;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
}
header .right li:hover {
  transform: scale(1.2);
}
header .right a {
  color: white;
}

@media (max-width: 720px) {
  header > .row {
    flex-direction: column;
  }
  header .left,
  header .right {
    margin: 0% auto;
    text-align: center;
  }
  header .left p {
    margin: 1em 0 0;
  }
  header li {
    margin: 0 0.5em;
  }
}

/* FOOTER
 *****************************************************************************/
footer {
  background-color: #556270;
  color: white;
  padding: 2em;
  text-align: center;
}
footer a {
  color: #ccc;
}

/* HOME PAGE
 *****************************************************************************/
#home-hero-section {
  /* Set the background to our dog. */
  background-image: url("home-hero-bg.jpg");
  /* Center the image 25% from the top of the left side. */
  background-position: left 25%;
  /* Make sure the background covers the entire section. */
  background-size: cover;
  /* Make sure the section has some height even with no content */
  min-height: 400px;
  /* Center anything in this section horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-hero-section .row {
  /* Make the content flow vertically */
  flex-flow: column;
  /* Squeeze it more than the container normally would */
  max-width: 800px;
}
#home-hero-section h1,
#home-hero-section h1 {
  text-align: right;
  color: white;
}
#home-hero-section p {
  color: white;
}
#home-hero-section p {
  font-size: 20px;
}
/* ABOUT PAGE
 *****************************************************************************/

/* GALLERY PAGE
 *****************************************************************************/
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.gallery-item {
  flex-basis: 31%;
  margin: 1%;
}
.gallery-item img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .gallery-item {
    flex-basis: 48%;
  }
}
@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin: 1% 0;
  }
}
